.web-footer {
    box-sizing: border-box;
    align-content: center;
    background: $color-matiz-amarillo;
    padding: 10px;
    text-align: center;
    bottom: 0;
    display: inline-block;
    align-items: baseline;
    width: 100%;

    .web-title {
        color: $color-oscuro;
        font-size: 24pt;
        font-family: $title-font-family;
        padding: 5px;
    }

    .web-footer-p {
        font-size: 12pt;
    }
}

a {
    text-decoration: none;
}