<!-- Dependiendo de si ponemos "empty", "error", "loading", o "ideal"
al lado de "song-list", tendremos en pantalla un estado u otro. -->
<section class="songs-list ideal">

    <!-- Lo que saldrá cuando el estado de la aplicación sea "empty" -->
    <div class="ui-status empty">
        <p>No hay nada que mostrar.</p>
    </div>

    <!-- Lo que saldrá cuando el estado de la aplicación sea "error" -->
    <div class="ui-status error">
        <p>Se ha producido un error.</p>
    </div>

    <!-- Lo que saldrá cuando el estado de la aplicación sea "loading" -->
    <div class="ui-status loading">
        <p>Cargando... por favor, espera.</p>
    </div>

    <!-- Lo que debería verse idealmente -->
    <div class="ui-status ideal">
        <article class="song">
            <a href="detail.html"><img class ="cover" src="http://images.genius.com/fc44439c55552eb23d4a9ecb28a21f06.1000x1000x1.jpg" alt="Imagen del disco"></a>
            <div class="artist">Toto</div>
            <div class="songtitle">Africa</div>
        </article>
        
        <article class="song">
            <img class ="cover" src="https://img.discogs.com/LFcuyAyMapZcI_dagTCAKEvD2As=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4678130-1380896715-7860.jpeg.jpg" alt="Imagen del disco">
            <div class="artist">Artist name</div>
            <div class="songtitle">Song title bla bla bla...</div>
        </article>
    
        <article class="song">
            <img class ="cover" src="https://img.discogs.com/LFcuyAyMapZcI_dagTCAKEvD2As=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4678130-1380896715-7860.jpeg.jpg" alt="Imagen del disco">
            <div class="artist">Artist name</div>
            <div class="songtitle">Song title bla bla bla...</div>
        </article>
    
        <article class="song">
            <img class ="cover" src="https://img.discogs.com/LFcuyAyMapZcI_dagTCAKEvD2As=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4678130-1380896715-7860.jpeg.jpg" alt="Imagen del disco">
            <div class="artist">Artist name</div>
            <div class="songtitle">Song title bla bla bla...</div>
        </article>
    
        <article class="song">
            <img class ="cover" src="https://img.discogs.com/LFcuyAyMapZcI_dagTCAKEvD2As=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4678130-1380896715-7860.jpeg.jpg" alt="Imagen del disco">
            <div class="artist">Artist name</div>
            <div class="songtitle">Song title bla bla bla...</div>
        </article>
    
        <article class="song">
            <img class ="cover" src="https://img.discogs.com/LFcuyAyMapZcI_dagTCAKEvD2As=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-4678130-1380896715-7860.jpeg.jpg" alt="Imagen del disco">
            <div class="artist">Artist name</div>
            <div class="songtitle">Song title bla bla bla...</div>
        </article>
    </div>
</section>