// Font families
$main-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Alegreya', serif;
$body-font-family: $main-font-family;

// Font sizes
$font-size-base: 16px;
$font-size-small: $font-size-base - 3px;
$font-size-large: $font-size-base + 5px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

// Base colors
$color-amazing-39: rgb(173, 173, 173);
$color-oscuro: rgb(37, 37, 37);
$color-claro: rgb(255, 255, 255);
$color-matiz-amarillo: rgb(255, 196, 0);
$color-bg-general: #ffc439;

// Main components colors
$main-text-color: $color-oscuro;
$links-color: $color-amazing-39;

// Responsive
// 667 iphone landscape. 768 ipad portrait
$mobile-portrait-width: 414px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: $mobile-landscape-width + 1;
$tablet-landscape-width: 1024px;

